@import "tailwindcss";

/* some nextjs color */
/*
  --background: #ffffff;
  --foreground: #171717;
  --background: #0a0a0a;
  --foreground: #ededed;
*/

/* nextjs font family */
/*
  --font-sans: var(--font-geist-sans);
  font-[family-name:var(--font-geist-sans)]
  --font-mono: var(--font-geist-mono);
  font-[family-name:var(--font-geist-mono)]
*/

:root {
  --bgc: #000000;
  --tc: #ffffff;
}

:root.light {
  --bgc: #ffffff;
  --tc: #000000;
}

:root {
  background-color: var(--bgc);
  color: var(--tc);
  /* font-family: Arial, Helvetica, sans-serif; */
}
